<div class="bottom-header row col-md-12">
  <div class="logo col-md-3">canvas</div>

  <nav class="right-bottom-nav col-md-9">
      <ul>
          <li class="active"><i class="fas fa-home"></i>home</li>
          <li><i class="fas fa-plane"></i>flights</li>
          <li><i class="fas fa-building"></i>hotels</li>
          <li><i class="fas fa-gift"></i>holidays</li>
          <li><i class="fas fa-pencil-alt"></i>blog</li>
          <li><i class="fas fa-phone"></i>1800 105 2541</li>
      </ul>
  </nav>
</div>